@import "config";
@import "reset";

body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: $text;
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  background: url("../images/dest/bg.svg") no-repeat top;

  &.fixed {
    overflow: hidden;
    height: 100vh;
  }
}

b {
  font-weight: bold;
}

.main {
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  position: relative;
  z-index: 4;
  padding: 14px 50px;
  background: $gradient;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.2s linear;
  user-select: none;
  text-decoration: none;

  &:hover {
    .btn__helper {
      opacity: 1;
    }
  }

  &--outline {
    .btn__helper {
      opacity: 1;
      background: #fff;
      z-index: 1;
      height: 98%;
      width: 99%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.2s ease;
    }

    .btn__content {
      display: block;
      background: $gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:hover {
      .btn__helper {
        opacity: 0;
      }

      .btn__content {
        background: none;
        color: #fff;
        -webkit-background-clip: inherit;
        -webkit-text-fill-color: inherit;
      }

      .btn__arrow {
        background: url("../images/dest/btn__arrow--white.svg") no-repeat center;
      }
    }
  }
}
.btn__helper {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(
    -158.91deg,
    #102397 -5.12%,
    #187adf 48.89%,
    #00eaf8 92.6%
  );
  transition: all 1s linear;
  border-radius: 100px;
}

.btn__content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  position: relative;
  z-index: 2;
  transition: all 0.2s linear;
}

.btn__arrow {
  display: inline-block;
  margin-left: 5px;
  width: 18px;
  height: 16px;
  background: url("../images/dest/btn__arrow.svg") no-repeat center;
}

// Header
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
  padding-top: 7px;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__logo {
  text-decoration: none;
  display: inline-block;
  margin-right: 22px;
}

.header__description {
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}
// Header END

// Nav
.nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav__item {
  margin-left: 70px;

  &:first-child {
    margin-left: 0;
  }
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  line-height: 23px;
  font-weight: normal;
  color: $text;
  transition: all 0.2s linear;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    opacity: 0;
    background: $text;
    z-index: 2;
    transition: width 0.2s linear;
  }

  &:hover {
    &::before {
      opacity: 1;
      width: 100%;
    }
  }
}
// Nav END

// Intro
.intro {
  // padding-bottom: 177px;
  height: 670px;

  .container {
    padding-top: 281px;
    height: 670px;
    position: relative;
  }
}

.intro__title {
  font-size: 74px;
  line-height: 68px;
  margin-bottom: 17px;
}

.intro__description {
  font-weight: 500;
  font-size: 30px;
  line-height: 146.28%;
  margin-bottom: 32px;
}

.intro__img {
  position: absolute;
  right: 64px;
  top: 104px;
  z-index: 2;
}
// Intro END

// About
.about {
  // height: 813px;
}

.about__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 137px;
}

.about__content {
  width: 100%;
  max-width: 567px;
}

.about__title {
  font-size: 48px;
  line-height: 68px;
  margin-bottom: 21px;
}

.about__description {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 17px;
}
// About END

// Steps
.steps__title {
  text-align: center;
  font-weight: normal;
  font-size: 48px;
  line-height: 68px;
  margin-bottom: 63px;
}

.steps__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.steps__item {
  text-align: center;
  width: 100%;
  max-width: 24%;
}

.steps__img {
  margin-bottom: 34px;
}

.steps__item__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px;
}

.steps__description {
  font-size: 16px;
  line-height: 30px;
}
// Steps END

// Why
.why {
  padding-top: 162px;
  margin-bottom: 135px;
}

.why__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.why__title {
  font-weight: normal;
  font-size: 48px;
  line-height: 68px;
  margin-bottom: 29px;
}

.why__img {
  // width: 710.01px;
  // height: auto;
}

.why__content {
  padding-top: 55px;
}

.why__item {
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }
}

.why__item__top {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 16px;
}

.why__icon {
  margin-right: 20px;
}

.why__item__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px;
}

.why__item__description {
  font-size: 16px;
  line-height: 30px;
}
// Why END

// Which
.which__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.which__suptitle {
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 10px;
}

.which__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 68px;
  margin-bottom: 12px;
}

.which__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.which__textblock {
  max-width: 588px;
  width: 100%;
  margin-bottom: 34px;
}

.which__text {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.which__btn.btn {
  &.md {
    display: none;
  }
}
// Which END

// Prices
.prices {
  padding-top: 95px;
  padding-bottom: 104px;
}

.prices__title {
  font-weight: normal;
  font-size: 48px;
  line-height: 68px;
  margin-bottom: 43px;
  text-align: center;
}

.prices__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.prices__item {
  background: #ffffff;
  box-shadow: 0px 15px 45px rgba(23, 128, 224, 0.212891);
  border-radius: 7px;
  padding: 53px 20px 67px 20px;
  max-width: 378px;
  width: 100%;
  height: 507px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  margin: 0 8.5px;

  &--special {
    height: 566px;

    .pices__value {
      background: $gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.prices__item__top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.prices__price {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.pices__value {
  color: $blue;
  font-weight: 500;
  font-size: 92px;
  line-height: 1;
  mix-blend-mode: normal;
  opacity: 0.4;
}

.pices__sup__text {
  font-size: 16px;
  line-height: 23px;
  color: #7887a7;
  padding-top: 7px;
}

.prices__item__title {
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 14px;
}
// Prices END

// Portfolio
.portfolio {
  padding-top: 72px;
  padding-bottom: 58px;
}

.portfolio__title {
  font-size: 48px;
  line-height: 68px;
  text-align: center;
  margin-bottom: 44px;
}

.portfolio__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.portfolio__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;

  &--single {
    .portfolio__item {
      width: 685px;
      height: 948px;
    }
  }
}

.portfolio__item {
  display: inline-block;
  text-decoration: none;
  margin-top: 22px;
  overflow: hidden;
  transition: all 0.5s linear;
  box-shadow: 0px 15px 45px rgba(23, 128, 224, 0.212891);
  border-radius: 7px;
  width: 329px;
  height: 459px;

  &:first-child {
    margin-top: 0;
  }

  &:hover {
    transform: translateY(-5px);
  }
}

.portfolio__img {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  border-radius: 7px;
}

.portfolio__bot {
  margin-top: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
// Portfolio END

// Blog
.blog__title {
  font-size: 48px;
  line-height: 68px;
  text-align: center;
  margin-bottom: 58px;
}

.blog__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.blog__item {
  display: inline-block;
  text-decoration: none;
  color: $text;
  width: 33%;
  transition: all 0.5s linear;

  &:hover {
    .blog__item__title {
      color: $blue;
    }
  }
}

.blog__img {
  display: inline-block;
  width: 445px;
  height: 232px;
  max-width: 445px;
  max-height: 232px;
  margin-bottom: 24px;
}

.blog__date {
  display: block;
  margin-bottom: 14px;
}

.blog__item__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 11px;
  transition: all 0.2s linear;
}

.blog__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
// Blog END

// Footer
.footer {
  margin-top: 76px;
}

.footer__nav {
  background: $white;
  padding: 52px 0;
}

.footer__nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__nav__item {
  margin: 0 25px;
}

.footer__nav__link {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  text-decoration: none;
  transition: all 0.2s linear;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    opacity: 0;
    background: #000;
    z-index: 2;
    transition: width 0.2s linear;
  }

  &:hover {
    &::before {
      opacity: 1;
      width: 100%;
    }
  }
}

.footer__copyright {
  background: #e6effa;
  padding: 18px 0;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  color: #2a4560;
}
// Footer END

// Modals & mask
.mask {
  display: none;
  background: rgba($color: #000000, $alpha: 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;

  &.active {
    display: block;
  }
}

.modals {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 715px;
  height: 715px;
  background: $white;
  box-shadow: 13px 15px 45px rgba(23, 128, 224, 0.271031);
  border-radius: 100px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 104px 142px;
}

.modals__wrapper {
  width: 100%;
}

.modals__title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 146.28%;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

.modals__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.modals__input {
  width: 100%;
  height: 50px;
  border-radius: 100px;
  background: #fff;
  border: 1px solid #fff;
  text-align: center;
  margin-bottom: 14px;
  transition: all 0.2s linear;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000;

  &:hover,
  &:focus {
    border-color: $blue;
  }

  &::placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $text;
  }

  &--textarea {
    height: 150px;
    resize: none;
    padding-top: 14px;
    border-radius: 15px;
  }
}

.message__text {
  display: inline-block;
  text-align: center;
  margin-top: 13px;
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
}
// Modals & mask END

@media (max-width: $tablet) {
  body {
    font-size: 14px;
    line-height: 20px;
  }

  // Header
  .header {
    padding-top: 15px;
  }

  .header__left {
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .header__logo {
    margin-right: 0;
  }
  // Header END

  // Nav
  .nav-toggle {
    width: 29px;
    padding: 8px 0;
    position: absolute;
    top: 27px;
    left: 0;
    z-index: 1;
    font-size: 0;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
    display: block;
  }

  .nav-toggle:focus {
    outline: 0;
  }

  .nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #3f8ae0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: background 0.2s linear;
    border-radius: 7px;
  }

  .nav-toggle__item::before,
  .nav-toggle__item::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #3f8ae0;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: transform 0.2s linear;
    border-radius: 7px;
  }

  .nav-toggle__item::before {
    top: -8px;
  }

  .nav-toggle__item::after {
    bottom: -8px;
  }

  .nav-toggle.active .nav-toggle__item {
    background: none;
  }

  .nav-toggle.active .nav-toggle__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translateX(-2px);
  }

  .nav-toggle.active .nav-toggle__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translateX(-3px);
  }

  .nav {
    display: none;
    position: absolute;
    left: 0;
    top: 80px;
    z-index: 7;
    background-color: $white;
    width: 100%;
    padding: 23px 13px;

    &.active {
      display: block;
    }
  }

  .nav__list {
    flex-direction: column;
    justify-content: center;
  }

  .nav__item {
    margin-left: 0;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .nav__link {
    font-size: 20px;
    line-height: 30px;
    color: #000;

    &:hover {
      color: $blue;
      &::before {
        display: none;
      }
    }

    &.active {
      color: $blue;
    }
  }
  // Nav END

  // Intro
  .intro {
    height: auto;

    .container {
      padding-top: 150px;
      padding-bottom: 50px;
      height: auto;
    }
  }

  .intro__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .intro__content {
    margin-bottom: 50px;
  }

  .intro__title {
    font-size: 52px;
    line-height: 120%;
  }

  .intro__description {
    font-size: 30px;
    line-height: 30px;
  }

  .intro__img {
    position: static;
    width: 60%;
  }
  // Intro END

  // About
  .about {
    margin-bottom: 50px;
  }

  .about__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 0;
  }

  .about__img {
    width: 60%;
    margin-bottom: 50px;
  }

  .about__content {
    text-align: center;
    max-width: 100%;
  }
  // About END

  // Steps
  .steps__inner {
    flex-wrap: wrap;
  }

  .steps__item {
    max-width: 49%;
    margin-bottom: 31px;
  }
  // Steps END

  // Why
  .why__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .why__img {
    width: 60%;
    margin-bottom: 50px;
  }

  .why__item {
    text-align: center;
  }

  .why__icon {
    margin-bottom: 18px;
  }

  .why__item__top {
    flex-direction: column;
    align-items: center;
  }

  .which__inner {
    flex-direction: column;
  }

  .which__content {
    width: 100%;
    margin-bottom: 50px;
  }

  .which__suptitle {
    text-align: center;
  }

  .which__title {
    text-align: center;
  }

  .which__img {
    width: 60%;
    margin-bottom: 25px;
  }

  .which__btn.btn {
    &.no-md {
      display: none;
    }

    &.md {
      display: inline-block;
    }
  }
  // Why END

  // Prices
  .prices__inner {
    flex-direction: column;
  }

  .prices__item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  // Prices END

  // Portfolio
  .portfolio__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .portfolio__col {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;

    &--single {
      margin: 15px 0;
    }
  }

  .portfolio__item {
    margin-top: 0;
    margin: 0 12px;
  }
  // Portfolio END

  // Blog
  .blog__inner {
    justify-content: center;
  }

  .blog__item {
    width: 445px;
    &.no-md {
      display: none;
    }
  }
  // Blog END

  // Footer
  .footer__nav {
    padding: 15px;
  }

  .footer__nav__list {
    flex-direction: column;
  }

  .footer__nav__item {
    margin: 0 0 10px 0;
  }

  .footer__nav__link {
    font-size: 20px;
    line-height: 30px;
  }
  // Footer END

  // Modals
  .modals {
    max-width: 340px;
    width: 100%;
    border-radius: 7px;
    height: auto;
    padding: 30px 15px;
  }

  .modals__title {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 24px;
  }

  .modals__input {
    font-size: 14px;

    &::placeholder {
      font-size: 14px;
    }
    &--textarea {
      height: 80px;
    }
  }

  .message__text {
    margin-top: 0;
  }
  // Modals END
}

@media (max-width: $mobile) {
  // Intro
  .intro {
    .container {
      padding-bottom: 27px;
    }
  }
  .intro__title {
    font-size: 42px;
    line-height: 120%;
    margin-bottom: 10px;
  }

  .intro__content {
    margin-bottom: 26px;
  }

  .intro__description {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    margin-bottom: 16px;
  }

  .intro__btn.btn {
    width: 100%;
  }

  .intro__img {
    width: 100%;
  }
  // Intro END

  // About
  .about {
    margin-bottom: 34px;
  }

  .about__title {
    margin-bottom: 16px;
    font-size: 42px;
    line-height: 120%;
  }

  .about__img {
    width: 100%;
    margin-bottom: 26px;
  }

  .about__description {
    text-align: justify;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    margin-bottom: 30px;
  }
  // About END

  // Steps
  .steps__title {
    font-size: 42px;
    line-height: 120%;
    margin-bottom: 44px;
  }

  .steps__item {
    max-width: 45%;
  }

  .steps__img {
    margin-bottom: 23px;
    width: 50px;
  }

  .steps__item__title {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 8px;
  }

  .steps__description {
    font-size: 14px;
    line-height: 20px;
  }
  // Steps END

  // Why
  .why {
    padding-top: 10px;
    margin-bottom: 40px;
  }

  .why__title {
    font-size: 42px;
    line-height: 120%;
    margin-bottom: 24px;
  }

  .why__img {
    width: 100%;
    margin-bottom: 43px;
  }

  .why__content {
    padding-top: 0;
  }

  .why__item {
    margin-bottom: 44px;
  }

  .why__icon {
    margin-right: 0;
    max-width: 56px;
  }

  .why__item__top {
    margin-bottom: 24px;
  }

  .why__item__title {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 9px;
  }

  .why__item__description {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
  }
  // Why END

  // Which
  .which__suptitle {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    margin-bottom: 9px;
  }

  .which__title {
    font-weight: normal;
    font-size: 42px;
    line-height: 120%;
    margin-bottom: 11px;
  }

  .which__content {
    margin-bottom: 22px;
  }

  .which__textblock {
    margin-bottom: 0;
  }

  .which__img {
    width: 100%;
    margin-bottom: 15px;
  }
  // Which END

  // Prices
  .prices {
    padding: 41px 0;
  }

  .prices__title {
    font-size: 42px;
    line-height: 120%;
    margin-bottom: 24px;
  }

  .prices__item {
    height: 405px;
    width: 100%;
    max-width: 340px;
    margin-left: 0;
    margin-right: 0;
    padding: 45px 32px;

    &--special {
      height: 383px;
    }
  }

  .pices__value {
    font-weight: 500;
    font-size: 60px;
    line-height: 73px;
    margin: 0 10px;
  }

  .prices__item__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 146.28%;
    margin-bottom: 8px;
  }

  .prices__item__description {
    font-size: 16px;
    line-height: 30px;
  }
  // Prices END

  // Portfolio
  .portfolio {
    padding-top: 0;
    padding-bottom: 41px;
  }

  .portfolio__title {
    font-size: 42px;
    line-height: 120%;
    margin-bottom: 34px;
  }

  .portfolio__col {
    justify-content: space-between;
    &--single {
      margin: 20px 0;
      .portfolio__item {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .portfolio__item {
    height: auto;
    margin: 0;
    max-width: 49%;
  }

  .portfolio__img {
    display: block;
  }

  .portfolio__bot {
    margin-top: 34px;
  }
  // Portfolio END

  // Blog
  .blog__title {
    font-size: 42px;
    line-height: 120%;
    margin-bottom: 34px;
  }

  .blog__item {
    width: 100%;
    max-width: 340px;
  }

  .blog__img {
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: none;
    margin-bottom: 20px;
  }

  .blog__date {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .blog__item__title {
    margin-bottom: 28px;
  }

  .blog__description {
    font-size: 16px;
    line-height: 30px;
  }

  .blog__bottom {
    margin-top: 40px;
  }
  // Blog END

  // Footer
  .footer {
    margin-top: 50px;
  }

  .footer__copyright {
    padding: 13px 0;
  }
  // Footer END
}

@media (max-width: $mobile-sm) {
  body {
    background: url("../images/dest/bg__mobile.svg") no-repeat top left;
  }
}
